include LICENSE CHANGES README.rst requirements.txt ciscoconfparse/version
recursive-exclude * __pycache__
recursive-exclude * *.pyc
recursive-exclude * *.pyo
recursive-exclude * *.orig
recursive-exclude * BUILD.ME
recursive-exclude * BITBUCKET_HG
recursive-include tests*
prune sphinx-doc/_static*
prune sphinx-doc/_build*
