# Ensure wheel is upgraded... ref Github Issue #257
wheel >= 0.38.4

# Other development resources...
packaging >= 23.0
pytest >= 7.2.1
poetry
poetry-core
gitpython
pyroma
invoke >= 2.0.0
fabric == 3.0.0
commitizen >= 2.40.0
