# Ensure wheel is upgraded to fix CVE-2022-40898
#     Also ref Github Issue #257
poetry == 1.6.1
loguru == 0.7.2
passlib == 1.7.4
toml > 0.10.1
dnspython == 2.4.2
deprecat == 2.1.1
#better_exceptions == 0.3.3
